<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="box">
        <h1 class="title">{{'aboutPage.about.title' | translate}}</h1>
        <p [innerHTML]="'aboutPage.about.par1' | translate"></p>
        <p [innerHTML]="'aboutPage.about.par2' | translate"></p>
        <p [innerHTML]="'aboutPage.about.par3' | translate"></p>
        <br/>
        <p [innerHTML]="'aboutPage.about.par4' | translate"></p>
        <br/>
        <p [innerHTML]="'aboutPage.about.par5' | translate"></p>
      </div>
    </div>
    <div class="column is-12">
      <div class="box">
        <h1 class="title">{{'aboutPage.contact.title' | translate}}</h1>
        <p [innerHTML]="'aboutPage.contact.par1' | translate"></p>
        <p [innerHTML]="'aboutPage.contact.par2' | translate"></p>
      </div>
    </div>
    <div class="column is-12">
      <div class="box">
        <h1 class="title">Privacy Policy</h1>
        <p>At Oengus, accessible from https://oengus.io, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Oengus and how we use it.</p>
        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
        <br>
        <h2 class="title is-4">Log Files</h2>
        <p>Oengus follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
        <br>
        <h2 class="title is-4">Cookies and Web Beacons</h2>
        <p>Like any other website, Oengus uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
        <br>
        <h2 class="title is-4">Third Party Privacy Policies</h2>
        <p>Oengus's Privacy Policy does not apply to other advertisers or websites.</p>
        <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
        <br>
        <h2 class="title is-4">Children's Information</h2>
        <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
        <p>Oengus does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
        <br>
        <h2 class="title is-4">Online Privacy Policy Only</h2>
        <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Oengus. This policy is not applicable to any information collected offline or via channels other than this website.</p>
        <br>
        <h2 class="title is-4">Consent</h2>
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
      </div>
    </div>
  </div>
</div>
