<div class="wrapper">
  <div class="privacy-consent has-background-dark is-flex-desktop"
       style="justify-content: space-between"
       *ngIf="!consentWasGiven()">
    <p class="navbar-item">
      {{'navbar.privacyConsent' | translate}}
    </p>
    <div class="field is-grouped" style="padding: 0 0.75rem">
      <p class="control">
        <a class="button is-success" (click)="acceptPrivacyConsent()">
          {{'action.accept' | translate}}
        </a>
      </p>
      <p class="control">
        <a class="button is-danger" (click)="declinePrivacyConsent()">
          {{'action.decline' | translate}}
        </a>
      </p>
    </div>
  </div>
  <div class="privacy-consent has-background-dark is-flex-desktop"
       style="justify-content: space-between"
       *ngIf="!isClosed()">
    <p class="navbar-item">
      <span>Oengus will change ownership early 2021. More information:
        <a href="https://pastebin.com/8YYJc9eB" target="_blank">here</a></span>
    </p>
    <div class="field is-grouped" style="padding: 0 0.75rem">
      <p class="control" style="display: flex; align-items: center">
        <a class="delete" (click)="closeNotification()"></a>
      </p>
    </div>
  </div>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/Oengus.png" style="margin-right: 0.5rem">
        Oengus<span *ngIf="environment.sandbox">.sandbox</span>
      </a>
      <a class="navbar-item" href="https://discord.gg/ZZFS8YT" target="_blank" [nwbToolTip]="'navbar.discord' |
    translate" nwbToolTipPosition="bottom">
        <fa-icon [icon]="faDiscord"></fa-icon>
      </a>
      <a class="navbar-item" href="https://twitter.com/OengusIO" target="_blank" [nwbToolTip]="'navbar.twitter' |
    translate" nwbToolTipPosition="bottom">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a class="navbar-item" href="https://gitlab.com/Gyoo1/oengusio" target="_blank"
         [nwbToolTip]="'navbar.sourceCode' | translate" nwbToolTipPosition="bottom">
        <fa-icon [icon]="faGitlab"></fa-icon>
      </a>
      <a class="navbar-item" href="https://gitlab.com/Gyoo1/oengusio/-/issues" target="_blank"
         [nwbToolTip]="'navbar.bugtracker' | translate" nwbToolTipPosition="bottom">
        <fa-icon [icon]="faBug"></fa-icon>
      </a>
      <a class="navbar-item" href="https://translate.oengus.io/projects/oengus/site/" target="_blank"
         [nwbToolTip]="'navbar.translate' | translate" nwbToolTipPosition="bottom">
        <fa-icon [icon]="faLanguage"></fa-icon>
      </a>
      <a class="navbar-item" href="https://paypal.me/GyooRunsStuff" target="_blank"
         [nwbToolTip]="'navbar.donate' | translate" nwbToolTipPosition="bottom">
        <fa-icon [icon]="faPaypal"></fa-icon>
      </a>

      <a role="button"
         (click)="toggleNavbar()"
         class="navbar-burger burger"
         aria-label="menu"
         aria-expanded="false"
         data-target="navbarBasicExample"
         #navBurger>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-end">
        <div class="navbar-item" *ngIf="userService.user && !userService.isBanned()">
          <button class="button is-primary" routerLink="/marathon/new">{{'navbar.createMarathon' | translate}}
          </button>
        </div>
        <a class="navbar-item" routerLink="/about">{{'navbar.about' | translate}}</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{languages[language].nativeName | titlecase}}
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" *ngFor="let locale of availableLocales" (click)="useLanguage(locale)">
              {{languages[locale].nativeName | titlecase}}
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="!userService.user">
          <a class="navbar-link">
          <span class="button is-light">
          {{'navbar.login.title' | translate}}
            </span>
          </a>
          <div class="navbar-dropdown is-right">
            <div class="navbar-content">
              <a class="navbar-item is-tooltip-danger" [nwbToolTip]="'navbar.login.disclaimer' | translate"
                 nwbToolTipPosition="left"
                 nwbToolTipIsMultiline="true"
                 [href]="'https://discordapp.com/api/oauth2/authorize?client_id=559625844197163008&redirect_uri='+userService.getRedirectUri()+'discord&response_type=code&scope=identify'">
                <fa-icon [icon]="faDiscord" style="margin-right: 0.4rem"></fa-icon>
                {{'navbar.login.discord' | translate}}
              </a>
              <a class="navbar-item is-tooltip-danger"
                 [nwbToolTip]="'navbar.login.disclaimer' | translate"
                 nwbToolTipPosition="left"
                 nwbToolTipIsMultiline="true"
                 [href]="'https://id.twitch.tv/oauth2/authorize?client_id='+userService.getTwitchLoginClientId()+'&redirect_uri='+userService.getRedirectUri()+'twitch&response_type=code&scope=openid'">
                <fa-icon [icon]="faTwitch" style="margin-right: 0.4rem"></fa-icon>
                {{'navbar.login.twitch' | translate}}
              </a>
              <a class="navbar-item is-tooltip-danger"
                 (click)="twitterAuth()"
                 nwbToolTipPosition="left"
                 nwbToolTipIsMultiline="true"
                 [nwbToolTip]="'navbar.login.disclaimer' | translate">
                <fa-icon [icon]="faTwitter" style="margin-right: 0.4rem"></fa-icon>
                {{'navbar.login.twitter' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="userService.user">
          <a class="navbar-link">
            <app-user [user]="userService.user" [showProfileLink]="false"></app-user>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" [routerLink]="'/user/profile/' + userService.user.username">
              {{'navbar.profile' | translate}}
            </a>
            <a class="navbar-item" routerLink="/user/settings">
              {{'navbar.settings' | translate}}
            </a>
            <a class="navbar-item" (click)="userService.logout()">
              {{'navbar.logout' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer" style="flex-grow: 0; flex-shrink: 0">
    <div class="content has-text-centered">
      <p [innerHTML]="'footer.text' | translate:{'timezone': getTimezone()}">
      </p>
      <p [innerHTML]="'footer.donate' | translate:{'donationLink': 'https://paypal.me/GyooRunsStuff'}">
      </p>
    </div>
  </footer>
</div>
